
}



body > header {
    display: flex;
    flex-direction: row;
    background-color: #110000;
    color: white;


}

.header-p > p {
    padding: 0% 0% 1% 5%;

    }

header > img {

    width: 30%;
    height: 30%;
    padding: 2% 5% 1% 5%;
    flex: 1;

}

.container-search {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1% 2% 1% 2%;

}

.container-search > p {
 order: -1;

}

nav {
   background-color:  #5f5f5f;
   letter-spacing: 0.2em;

}


nav > ul > a > li {
    display: flex;
    color: #f1f1f1;

}

nav > ul {
    margin: 0;
    padding: 0;

}

/* nav > ul > a {
    background-color: rgba(50, 50, 50, 1;
    webkit-transition: background-color 1s;
    transition: background-color 1s;
} */

nav > ul > a :hover {
   background-color: #ffcc00;
}


nav > ul >  a:link {

    color: white;
    font-size: 1em;
}


nav > ul > a:visited {
    color: white;
    font-size: 1em;
}

body > footer {
    display: flex;

}

body > footer > * {
    flex: 1;
    padding: 0.5%;

}

body > footer > section{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}


.related {
    flex: 2;
    background-color: #a5a5a5;
    padding: 0.5%;
    word-break: break-all;

}

.related > article{
    display: flex;
    flex-direction: column;
    background-color: #c5c5c5;
    padding: 0.5%;
    border: 8px solid #a5a5a5;

}



.container {
    display: flex;



}

main {
    background-color: white;
    flex: 3;
    padding: 0.5%;

}

aside {
    flex-direction: column;
    flex: 1;
    background-color: #f1f1f1;
    color: black;
    padding: 0.5%;


}

section > img {
     width: 100%;
    height: 100%;
}




button {

                background: #ffcc00;
                border:0px solid #dbdbdb;

}


q {
    background-color: black;
}








@media all and (max-width: 25em) {


  header > h1{
    font-size: 2.04em;
    color:  #ffcc00;

  }

    .header-p > p {
   display: none;

    }

    header > img {
    transform:rotate(90deg);
    padding-right: 0;
    padding-top: 17%;

    }

.container-search {
display: none;




}

    nav > ul > a > li {
    display: block;

    }



    .container {
     display: block;

    }

    * {
    font-size: 0.96em;

}

    body > footer {
        display: block;
    }

}



@media all and (max-width: 70em) {

    aside {
        padding: 1%;

    }

    h2 {
        font-size: 1.2em;

    }

    h3 {
        font-size: 1em;
    }

    article > p {
        font-size: 0.9em;

    }

    header > img {
   width: 22%;
   height: 22%;

    }
}

@media all and (max-width: 50em) {

     body > footer {
        display: block;
    }
      header > img {
   width: 18%;
   height: 18%;
      }

      h2 {
        font-size: 1em;

    }

    h3 {
        font-size: 0.9em;
    }

 aside {
     flex: 1;
 }
     .related {
    flex: 1;

     }

header > p > a {
    font-size: 0.8em;
}
       header > img {
 display: none;

      }


 }

@media all and (max-width: 41em) {

    .container {
     display: block;

    }
}

@media all and (max-width: 35em) {

    .header-p > p {
  font-size: 0.7em;

    }

      nav > ul > a > li {
    display: block;

    }

}

@media all and (max-width: 32em) {

    .header-p > p {
  display: none;

    }

}











